// colors
$bg: #676767;
$gray: #414141;
$black: #000000;
$white: #ffffff;
$danger: #d00000;
$primary: #003999;
$light-primary: #0058f0;

// border radius
$input-radius: 7px;
$button-radius: 9px;
$section-radius: 23px;

// desktop font sizes
$title-size: 26px;
$small-size: 15px;
$regular-size: 18px;
$subtitle-size: 22px;

// mobile font sizes
$mobile-title-size: 22px;
$mobile-small-size: 15px;
$mobile-regular-size: 15px;
$mobile-subtitle-size: 18px;
